

@font-face {
    font-family: 'Minion Pro Bold';
    src: url('../fonts/MinionPro-Bold.eot');
    src: url('../fonts/MinionPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MinionPro-Bold.woff') format('woff'),
         url('../fonts/MinionPro-Bold.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;

}
