// * {
//   outline: 1px solid red;
// } //will not be used

body {
	font-family: 'Open Sans', sans-serif;
} 

a {
	color: inherit;
}

 a:link,
 a:visited,
 a:active,
 a:focus {
	text-decoration: none;
}  

.--no-padding {
	padding: 0;
}

.--no-margin {
	margin: 0;
}


		.header__navigation-item img:hover{
			background-color: rgba(255, 255, 255, 0.3);
    		padding: 16px 0;
		}		
		.header__navigation-item button:hover, 
		.header__navigation-item button:active,
		.header__navigation-item button:focus {
				.fa:before {
					margin: 0;
					color: $hover_color;
				}
		}		

.dropdown-toggle {
	background-color: inherit;
	border: none;
}

.main-container {
	background-color: $bg_color;
	padding: 0;
}

.header {
	background-color: $header_bg;
		&__content {
			height: 58px;
	 		@include flex-center ();
	 	}
		&__search {
			background-color: rgba(255, 255, 255, 0.3);
			border: none;
			width: 100%;
			border-radius: 20px;
			position: relative;
			padding: 0 10% 0 2%;
			height: 30px;
				&:focus {
					background-color: $white;
				}
				&-block{
		    		padding: 0 15px 0 10px;
				}
		}
		&__navigation-item {
			float: left;
		}
		&__navig-block{
			padding: 0 0 0 25px;
			@include flex-center ();	
		}		
		&__user-block {
			padding: 0 0 0 30px;
			@include flex-center ();
				.fa{
					color: $header_user_icon_color;
					margin-right: 15px;
				}
		}	
		&__user-setting {
			@include flex-center ();
			&:hover{
				background-color: rgba(255, 255, 255, 0.3);
				padding: 10px 0;
					.fa-angle-down:before {
					color: $hover_color;
				}
			}
			&--avatar{
				margin-left: 5px;
    			margin-right: 10px;
			}
		}		
}

.fa {
	&:hover {
		color: $hover_color;
	}
	&-bars {
		color: $header_icon_color;
		margin-right: 15px;		
	}
	&-search {
		color: $header_icon_color;
		position: absolute;
		top:50%;
		right: 8%;
		transform:translateY(-50%)
	}
}


@media (max-width: 768px) {
	.header__navig-block,
	.header__search-block,
	.header__user-block {
		padding: 0;
		margin-top: 5px;
    	justify-content: center;
	 }
	 .header__content {
	 	display: block;
	 }
 }
 

.content {
	margin-top: 47px;
	&__list {
		// width: 23.5%;
		border: 1px solid $border_color;
		// margin-right: 30px;
		padding-right: 23px;
    	padding-left: 21px;
			&-head {
				padding-top: 17px;
    			padding-bottom: 4px;
				border-bottom: 1px solid $border_color;
				display: flex;
				justify-content:space-between;
				align-items: flex-end;
				margin-bottom: 25px;
					&--title {
						color: $section_title_color;
						font-weight: 700;
						font-size: 18px;
						// float: left;
					}
					&--extend {
						font-size: 14px;
						color: $posts_color;
						// float: right;
					}
				&--second {
					margin-top: 0;
					margin-bottom: 25px;
					padding-bottom: 0;
				}
			}

		&-section {
			margin-bottom: 20px;
				&--avatar {
					display: block;
				}
				&--heading {
					font-weight: 700;
					line-height: 12px;
				    letter-spacing: -1px;					
				}
				&--text {
					font-size: 12px;
				}
			&--second {
				margin-bottom: 15px;
				padding-top: 0;
					&--heading {
						font-weight: 700;
					    font-size: 15px;
					    padding-top: 5px;
					}
					&--text {
						font-size: 10px;
					    letter-spacing: 0px
					}
			}	
		}
	}
	&-whatsnew {
		border-radius: 5px;
		background-color:$white;
		padding: 10px 40px 15px 30px;
		display: flex;
		align-items: center;
		box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.2);
		&__statusfield {
			width: 530px;
			height: 28px;
			border: 1px solid $border_color;
			margin-left: 30px;
			padding-left: 15px;
		}
	}
	&-main {
		border-radius: 5px;		
		background-color:$white;
		padding: 10px 40px 20px 30px;
		box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.2);
		margin-top: 30px;
			&__media-user {
				padding-top: 30px;
				padding-left: 5px;
					&--comment {
						margin-left: 12px;
   	 					margin-top: 25px;
   	 					p {
   	 						margin-left: 47px;
   	 						padding-top: 2px;
   	 						line-height: 21px;
							margin-bottom: 26px;   	 						
   	 					}
					}
					&--repost {
						padding-top: 0;
					    margin-top: -9px;
					    margin-right: 5px;
					    					}
					&--avatar {
						position: relative;																											
							&-repost-sign{
								position: absolute;
								height: 20px;
								width: 20px;
								border-radius: 20px;
								border: 2px solid $white;
								display: flex;
								justify-content:center;
								align-items:center;
								background-color: $posts_name_color;
								bottom: 57%;
    							right: 60%;
    								&:before {
    									content: $icon-arrow_reply;
    									color: $white;
    									font-size: 9px;
    								}
							}													
					}
					&--post {
						font-size: 12px;
							&-title {
								color: $posts_name_color;
								font-weight: 700;
								margin-bottom: 0;
								margin-top: 3px;
								font-size: 16px;
							}
						&-repost {
							vertical-align: bottom;
						}	
					}
			}
			&__post {
				&-text{
					padding: 13px 0 0 5px;
						&-user {
						    padding: 15px 4px 10px;
						    line-height: 18px;
						}
				}
				&-img {
					margin: 30px 0 0 5px;
					&1 {
						margin-right: 3px;
					}
					&2 {
						
					}					
				}
		}

	}
}

.media-left--section {
	vertical-align: middle;
	padding-right: 30px;
		&2{
			padding-left: 10px;
		}
}

.media-left__main--repost {
	padding-right: 13px;
	padding-top: 20px;
}

.content-content {
	padding-left: 25px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
	border: none;
	color: $hover_color;
	font-weight: 700;
}

.nav>li>a {
	font-size: 18px;
	color: $tab_color;
	padding: 4px 24px 2px 0px;
}

.smile {
		display: inline-table;
			&__count{
				font-weight: 700;
				font-size: 14px;
				color: $hover_color;
				margin-right: 10px;
					&:hover,
					&:active {
						color: $header_user_icon_color;
						text-decoration: none;
					}
			}
			&__emo1{
				@include sprite($emo1);
			}					
			&__emo2{
				@include sprite($emo2);
			}
			&__emo3{
				@include sprite($emo3);
			}
			&__emo4{
				@include sprite($emo4);
			}
			&__emo5{
				@include sprite($emo5);
			}									
			&__emo6{
				@include sprite($emo6);
			}
			&__emo7{
				@include sprite($emo7);
			}				
}

.comment__reaction {
	margin-bottom: 19px;
		&-emo {
			padding-top: 13px;
    		padding-left: 4px;
    		float: left;
    		.smile__emo5 {
    			margin-left: -8px;
    		}
		}
    	&-options {
    		padding-top: 13px;
    		padding-right: 4px;
   			float: right;
   			position: relative;
   				&__tooltip {
					position: absolute;
			    	bottom: 100%;
			    	display: none;					
		    		&-block {
		    			background-color: $white;
						border: 1px solid $border_color;
						padding: 5px;
						padding: 10px 5px;
					    display: flex;
					    justify-content: space-between;
					    width: 160px;
						box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.2);
						position: relative;
							&:before {
								content: '';
								position: absolute;
								top:100%;
								left: 3%;
								width: 0;
								height: 0;
								border-left: 7px solid transparent;
								border-right: 7px solid transparent;
								border-top: 10px solid $border_color;
							}
							&:after {
								content: '';
								position: absolute;
								top:100%;
								left: 4.5%;
								width: 0;
								height: 0;
								border-left: 5px solid transparent;
								border-right: 5px solid transparent;
								border-top: 8px solid $white;
							}								
		    		}
				}	
   			&--link {
     			margin-left: 8px;  				
	   			font-weight: 700;
				font-size: 14px;
				color: $hover_color;;
					&:hover,
					&:active {
						color: $header_user_icon_color;
					}
					&-text {
						font-family: 'Open Sans', sans-serif;
					} 
   			}
    	}

}

.comment__reaction:last-child {
	margin-bottom: 0;
}

hr {
	margin-bottom: 0;
}

.show-more {
	font-size: 13px;
	color: $user_activity_color;
	margin-top: 25px;
}

.footer {
	background-color: $header_bg;
	margin-top: 51px;	
		&__content {
			&-navigation {
				list-style: none;
				padding: 8px;
				margin: 0;
					&--item {
						float: left;
						color: $footer_nav_col;
						font-size: 16px;
						margin-right: 30px;
							&-theme{
								font-weight: 700;
								color: $section_title_color;
							}
							&-icon {
								color: $section_title_color;
								margin-left: 10px;
							}
					}
			}
	 	}
}

@media (max-width: 768px) {
	.footer__content-navigation--item {
		clear: both;
		margin-bottom: 10px;
	}
	.nav-tabs>li {
		clear: both;
		margin-bottom: 10px;		
	}
}

.choose-smile-click {
	display: inline-block;
}

a h4:hover {
	text-decoration: underline;
}

.content-main__topic {
    margin-top: 10px;
    padding: 10px 20px 20px 25px;
	border-left: 1px solid $border_color;    
    	&--second {
		    margin-top: 27px;
		    margin-bottom: 35px;
	}
}

.pagination {
	margin: 0;
}

.pages {
	display: flex;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    z-index: 2;
    color: $hover_color;
    cursor: default;
    background-color: $white;
}
.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover {
    color: $hover_color;
    border-bottom: 1px solid $hover_color;
}
.pagination>li:first-child>a, 
.pagination>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    font-size: 16px;
    padding: 0;
    margin-left: 8px;
    color: $page_color;
    text-decoration: none;
    border: none;
    font-weight: 700;
}

.topic__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $border_color;
}

.topic__title-text {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    padding: 12px 0 8px 0;
    letter-spacing: -1px;
}

.topic__category {
	    margin-top: 12px;
	.fa-thumb-tack, .fa-play-circle {
		color: $category_circle_color;
	}
		&-item {
			margin-right: 8px;
		}
		&-icon {
			margin-right: 5px;
		}
		&-text {
			color: $page_color;
			font-size: 14px;
		}
}

.topic__category-item:hover .topic__category-icon:before {
	color: $hover_color;
}

.topic__category-item:hover .topic__category-text {
	text-decoration: underline;
	color: $hover_color;
}

.icon-music:before {
	content: $icon-music;
    color: $category_circle_color;
    font-size: 12px;
}

.topic__post {
	margin-top: 37px;
	&--users {
		padding-top: 26px;
	}
	&--avatar {
		margin-right: 8px;
	}
	&--moderator{
		margin-top: 8px;
		text-align: center;
		border: 1px solid $hover_color;
	    border-radius: 5px;
	    padding: 2px;
	    font-size: 10px;
	    font-weight: 700;
	    color: $moderator;
	    display: flex;
    	align-items: center;
    	width: 72px;
		.fa {
			margin-right: 3px;
		}
	}
	&--data{
		font-size: 12px;
		font-weight: 500;
		color: $page_color;
	}
	&--text {
		line-height: 25px;
    	padding-top: 11px;
    	color: $topic_post_text;
    	&-users {
			line-height: 20px;
		    font-size: 14px;
		    letter-spacing: -0.2px;
		    margin-top: 10px;
		    margin-bottom: 0;
    	}
	}
	&--img {
		margin-top: 20px;
		position: relative;
	    margin-bottom: 17px;	
		.fa {
			@include center ();
			color: rgba(255, 255, 255, 0.5);
			font-size: 84px;
		}
		.fa:hover {
			color: $hover_color;
		}
	}
	&-options{
		display: inline-block;
		margin-left: 12px;
		.dropdown-toggle:hover .fa-ellipsis-h:before {
			color: $hover_color;
		}
		&__menu {
			border-radius: 0;
			box-shadow: none;
			right:0;
			left: inherit;
			padding: 15px 12px 0;
			margin-top: 9px;
			min-width: 130px;
			&-list {
				position: relative;
				list-style: none;
				padding: 0;
					&:before {
						content: '';
						position: absolute;
    					bottom: 100%;
    					margin-bottom: 15px;
						left: 97%;
						width: 0;
						height: 0;
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-bottom: 10px solid $border_color;
					}
					&:after {
						content: '';
						position: absolute;
					    bottom: 100%;
					    margin-bottom: 15px;
					    left: 99%;
						width: 0;
						height: 0;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 8px solid $white;
					}	
					&--item {
						font-size: 12px;
						color: $page_color;
						margin-bottom: 5px;
							a {
								display: table;
							}
							span {
								display: table-cell;
							}
							.fa {
									width: 20px;
									font-weight: 700;									
								}
					}
			}
		}
	}
}


.topic__post--moderator:hover {
	color: $hover_color;
}

.media-heading:hover {
	text-decoration: underline;	
}

.saving {
	font-size: 14px;
	color: $page_color;
	margin-right: 12px;
	&-text {
  		font-family: 'Open Sans', sans-serif;
  		letter-spacing: -1px;
  	}
}

.fa-floppy-o:before, 
.fa-check-square-o:before {
	margin-right: 5px;
}


.fa-ellipsis-h:before {
	color: $page_color;
    font-size: 21px;
    position: absolute;
    top: 20%;
    right: 20%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.comment__reaction--topic {
    padding: 4px 0 4px 88px;
	    &-user {
		padding: 7px 0 1px;
	}
}



.topic__popular {
	margin-top: 40px;
	margin-bottom: 13px;
	font-weight: 700;
	color: $topic_post_text;	
	&--text {
		float: left;
		font-size: 24px;
		font-family: 'Lato', sans-serif;
		font-weight: 700;	
	}
	&--link {
		float: right;
		padding-top: 10px;
	}

}

.media-left--topic-users {
	padding-top: 5px;
}

.hr2 {
	margin-bottom: -5px;
}

.topic__user-comment {
	margin-top: 25px;
	margin-bottom: 8px;	
	&-text {
		margin-left: 50px;
		color: $page_color;
	}
}

.topic__text-redact {
	background-color: $bg_color;
	margin: 0 -20px -20px -25px;
	height: 50px;
	padding-left: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	.fa{
	 	color: $gif;
	 	margin-left: 8px;
	 }
    .fa-align-left {
    	margin-left: 20px;
    }		 
	.fa:hover {
	 	color: $hover_color;
	 } 
	 &-buttons{
	 	margin-right: 20px;
	 	button {
	 		border: none;
	 		border-radius: 5px;
	 		background-color: $button;
	 		padding: 5px 0;
	 		width: 65px;
	 		color: $data_color;
	 		font-size: 14px;
	 		margin-left: 5px;	 	 		
	 		&:hover, &:active, &:focus {
	 		background-color: $section_title_color;
	 		color: $white;			
	 		}
	 	}
	 }
}

.gif {
	font-family: 'Minion Pro Bold';	
	color:$white;
	background-color: $gif;
	padding: 0 3px;
	font-size: 10px;
}

.flex {
	display: flex;
}

@media (max-width: 768px) {
	.content-content {
    	padding-left: 0;
    }	
    .topic__popular--text {
    	margin-left: 30px;
    }
    .topic__post--img img {
    	width: 50%;
    	height: 50%;
    }
    .fa-youtube-play {
    	display: none;
    }
 }

.small-pic {
	width: 50px;
	height: 50px;
	margin-bottom: 25px;
}

.content-main__media-user--comment .link_to_topic_page {
	font-size: 20px;
	font-weight: 700;
	color: $hover_color;
	text-decoration: underline;
	margin-top: 20px;
}

.content-main__media-user--comment .link_to_topic_page:hover {
	color: red;
}

.content__list-topic {
	border:none;
	margin-top: 8px;
    padding-left: 0;
}

.topic-leftbar {
	&__avatar {
		background-color: $white;
		width: 270px;
		height: 260px;
		border-radius: 5px;
		position: relative;
		&-img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform:translate(-50%,-50%);
		}
		&-name {
			color: $topic_post_text;
			font-size: 24px;
			text-align: center;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			margin-top: 12px;				
		}
	}
	&__button {
		width: 93%;
		border: none;
		border-radius: 5px;
		background-color: $button_bg;
		color: $white;
		font-size: 18px;
		font-weight: 700;
		padding: 12px 0;
		margin: 14px 0 0 8px;
		&:hover, &:active, &:focus {
			background-color: $white;
			color: $button_bg;
			border: 1px solid $button_bg;	
		}
	}
	&__list {
		list-style: none;
		margin-top: 36px;
		padding-left: 0;
		margin-bottom: 10px;
		&--second {
			margin-top: 28px;
		}
		&-item {
			margin-bottom: 23px;
			font-size: 18px;
			color: $posts_color;
			padding-left: 47px;
			.fa {
				margin-right: 15px;
			}
			.fa-angle-down {
					margin-left: 21px;
					&--second {
						margin-left: 75px;
					}
				}			
			&:first-child {
				color: $lisi_title;
				font-weight: 700;
				padding-left: 20px;
				margin-bottom: 15px;
			}
		}
	}
	&__forum {
		padding-left: 20px;
		font-weight: 700;
		color: $report_color;
		font-size: 18px;	
    	margin-top: 34px;				
		.fa {
			margin-right: 15px;
		}	
	}

}

@media (max-width: 768px) {
	.topic-leftbar__avatar {
		margin: 0 auto;
	}
	.topic-leftbar__list {
		margin-left: 150px;	
	}
 }