
@font-face {
    font-family: 'HelveticaNeueLTStd-It';
    src: url('../fonts/HelveticaNeueLTStd-It.eot');
    src: url('../fonts/HelveticaNeueLTStd-It.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStd-It.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStd-It.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('../fonts/HelveticaNeueLTStd-Lt.eot');
    src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Md';
    src: url('../fonts/HelveticaNeueLTStd-Md');
    src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Th';
    src: url('../fonts/HelveticaNeueLTStd-Th');
    src: url('../fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStd-Th.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-ThIt';
    src: url('../fonts/HelveticaNeueLTStd-ThIt');
    src: url('../fonts/HelveticaNeueLTStd-ThIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStd-ThIt.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStd-ThIt.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-UltLt';
    src: url('../fonts/HelveticaNeueLTStd-UltLt');
    src: url('../fonts/HelveticaNeueLTStd-UltLt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStd-UltLt.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStd-UltLt.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCompPro-Thin';
    // src: url('../fonts/PFDinTextCompPro-Thin');
    src: url('../fonts/PFDinTextCompPro-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFDinTextCompPro-Thin.woff') format('woff'),
         url('../fonts/PFDinTextCompPro-Thin.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

