.clearfix:after {
	content: '';
	display: table;
	height: 0;
	clear: both;
}


html { 
	height:100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a, a:hover, a:active, a:visited, a:focus {
	color: inherit;
	text-decoration: none;
}

body {
	font-family:'HelveticaNeueLTStd-Lt';
	height: 100%;
}


.content {
  flex: 1 0 auto;
}

.header-top {
	border-bottom: 1px solid $hr_color;
	height: 50px;	
}

.wrapper {
    max-width: 1200px;
    width: 100%;
	margin: 0 auto;
	&__header-top {
		display: flex;
		align-items:center;
		height: 100%;	
		justify-content:space-between;		
	}
			@media #{$tablet} {
				max-width: 700px;
			}	
}

.welcome-info {
	display: flex;
	align-items:center;
}

.user-info {
	display: flex;
	align-items:center;
	height: 100%;
	&__wish-list {
		margin-right: 17px;	
			@media #{$tablet} {
				margin-right: 10px;
			}		
	}
}

.choose-country {
	display: flex;
	align-items:center;
	&__flag {
		display: flex;
		align-items:center;		
		margin-right: 10px;	
		img {
			@media #{$tablet} {
				width: 25px;
			}
		}
	}
	&__country {
		font-weight: bold;
		font-size: 12px;
		letter-spacing: 3px;
		margin-right: 3px;
			@media #{$tablet} {
				font-size: 10px;
			}		
	}
	&__arrow {
		@include button_unstyle();
		@include icon($icon-arrow_down, 18px, $icon_color);
		display: flex;
		 margin-right: 4px;
			&:hover:before {
				color: $link_hover;
				cursor: pointer;		
			}
			&:before {
				@media #{$tablet} {
					font-size: 14px;
				}
			}
	}				
}

.horizontal-separator {
	width: 1px;
	height: 26px;
	background-color: #000;
	margin-left: 14px;
    margin-right: 20px;
		@media #{$tablet} {
			margin-left: 7px;
    		margin-right: 10px
		}    
}

.user-text {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 3px;
		@media #{$tablet} {
			font-size: 10px;
		} 			
	&_uppercase {
		text-transform: uppercase;
		letter-spacing: 2.5px;			
	}
	&_cursive {
		font-family: 'HelveticaNeueLTStd-ThIt';
	}
	&_underline {
		font-family: 'HelveticaNeueLTStd-It';
		text-decoration: underline;
		&:hover {
			color: $link_hover;
			text-decoration: underline;
			cursor: pointer;		
		}
	}		
}

.search {	
	display: none;
	border: none;
	outline: none;
	border-bottom: 1px solid $black;
  	font-family:'HelveticaNeueLTStd-ThIt';
	color: $search;
	font-size: 14px;
	padding-bottom: 10px;
	letter-spacing: 2px;
	font-weight: bold;
	width: 320px;
		@media #{$tablet} {
			width: 150px;
		}	
}

.search-icon {
	@include button_unstyle();
	@include icon($icon-magnifier, 24px, $icon_color);
	margin-right: 18px;
		&:hover:before {
			color: $link_hover;
			cursor: pointer;		
		}
				@media #{$tablet} {
					margin-right: 10px;
				}		
			&:before {
				@media #{$tablet} {
					font-size: 20px;
				}
			}		
}

.wish-list {
		display: flex;
		align-items:center;	
	&__heart {
		margin-right: 10px;
		@include button_unstyle();
		@include icon($icon-heart, 22px, $icon_color);
		&:before {
			font-weight: bolder;
				@media #{$tablet} {
					font-size: 18px;
				}			
		}
				@media #{$tablet} {
					margin-right: 5px;
				}				
	}
	&__counter {
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 3px;
			@media #{$tablet} {
				font-size: 12px;
				letter-spacing: 2px;
			}			
	}
			&:hover :before{
			color: $link_hover;
			cursor: pointer;		
		}	
}

.order-list {
		display: flex;
		align-items:center;	
		border-left: 1px solid $hr_color;
		border-right:1px solid $hr_color;
		height: 100%;
		padding: 0 20px 0 25px;		
	&__bag {
		@include button_unstyle();
		@include icon($icon-bag, 20px, $icon_color);
		margin-right: 7px;
		&:before {
			font-weight: bolder;
				@media #{$tablet} {
					font-size: 18px;
				}			
		}	
			@media #{$tablet} {
				margin-right: 5px;
			}		
	}
	&__counter {
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 3px;
			@media #{$tablet} {
				font-size: 12px;
				letter-spacing: 2px;
			}		
	}
	&__sum {
  	font-family:'PFDinTextCompPro-Thin';
  	font-weight: bold;
  	font-size: 18px;
  	letter-spacing: 1px;
			@media #{$tablet} {
				font-size: 16px;
			}  	
	}
			&:hover :before{
			color: $link_hover;
			cursor: pointer;		
		}	
			@media #{$tablet} {
				padding: 0 10px 0 15px;	
			}  	
}

.wrapper__header-bottom {
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: 120px;
		@media #{$tablet} {
			height: 90px;
			}	
}

.header-bottom {
	&__conditions {
		margin-bottom: 10px;
	}
}

.conditions {
	color: $secondary_text_color;
	font-size: 12px;
	font-weight: bold;
	display: flex;
	flex-direction:column;
	letter-spacing: 2.6px;
	&_right {
		align-items:flex-end;
	}
	&_top {
		margin-bottom: 18px;
			@media #{$tablet} {
				margin-bottom: 10px;
			}			
	}
			@media #{$tablet} {
				font-size: 10px;
				letter-spacing: 1.5px;
			}	
}

.title {
	display: flex;
	align-items: center;
	&__text {
		margin-left: 20px;
			@media #{$tablet} {
				margin-left: 0;
				width: 200px;
			}		
	}
}

.navigation {
	display: flex;
	justify-content:space-between;
	font-size: 16px;
	font-weight: bold;
	list-style: none;
	text-transform: uppercase;
	padding: 0;
	&__item {
		letter-spacing: 3.5px;
		&:hover {
			color: $link_hover;
			cursor: pointer;			
		}
		&_sale {
			color: $sale;
		}
		@media #{$tablet} {
			letter-spacing: 0;
		}		
	}
		@media #{$tablet} {
			font-size: 12px;
		}	
}

.header__navigation {
    margin-top: 20px;
    margin-bottom: 28px;
			@media #{$tablet} {
			    margin-top: 10px;
			    margin-bottom: 10px;
			}    
}

.shopping-action {
  	display: flex;
  	flex-direction: column;
  	align-items:center;
  	color: $white;
  	text-transform: uppercase;
  	justify-content: flex-end;
  	box-sizing: border-box;
    margin-bottom: 118px;	
			&__title1{
				font-size: 14px;
				letter-spacing: 2.5px;
				display: flex;
		    	align-items: center;
				&:before, &:after {
					content: '';
					height: 1px;
					width: 23px;
					background-color: $white;
					display: inline-block;
				}
				&:before {
					margin-right: 10px;
				}
				&:after {
					margin-left: 10px;
				}		
		  	}
		  	&__title2{
		  		font-size: 60px;
		  		font-family:'PFDinTextCompPro-Thin';
		  		font-weight: bold;
		  		letter-spacing: 1.5px;
		  		margin: 32px 0 46px 10px;
		  	}	
	&_right  {
		margin-bottom: 113px;
		margin-right: 105px;
		.shopping-action__title1 {

		}
		.shopping-action__title2 {
			font-size: 50px;
			margin: 28px 0 35px 0;			
		}
		.action-button {
			padding: 14px 28px;
		}
		@media #{$tablet} {
			margin: 0;						
		} 			
	}		  	
}

.baner {
	background: url(../images/baner.jpg) no-repeat center; 
  	background-size: cover;
  	height: 590px;
  	display: flex;
  	align-items:flex-end;
  	justify-content: center;
}

.action-button {
	@include button_unstyle();
	font-size: 16px;
	border: 1px solid $white;
	color: white;
	padding: 14px 40px;
	text-transform: uppercase;
	letter-spacing: 3px;
	&:hover {
		border-color: $link_hover;
		color: $link_hover;
	}
	&_black {
		color: $black;
		border-color: $black;
	}
}

.baner2 {
  	height: 410px;
  	display: flex;
  	&__description {
		background: url(../images/baner_1.jpg) no-repeat center; 
	  	background-size: cover;  
	  	width: 57.5%;
 	  	display: flex;
	  	align-items:center;
	  	justify-content:center;	  	 	  				
  	}
  	&__photo {
		background: url(../images/baner_2.jpg) no-repeat center; 
	  	background-size: cover;
	  	width: 42.5%;
			@media #{$tablet} {
				background-position: 0;				
			} 		  	
  	}	
}

.slot {
	  	display: flex;
	  	flex-direction:column;
	  	align-items:center;
	  	justify-content:flex-end; 	
	&__title {
		font-family:'PFDinTextCompPro-Thin';
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
    	letter-spacing: 1.5px;
			@media #{$tablet} {
				font-size: 30px;				
			}     		
	}
	&__description {
  		font-family:'HelveticaNeueLTStd-ThIt';
		font-size: 16px;
		font-weight: bold; 
		letter-spacing: 3.5px;
		width: 500px;
		text-align: center;
		line-height: 25px;
		margin-top: 15px;
			@media #{$tablet} {
				font-size: 12px;
				letter-spacing: 2px;
				line-height: 20px;	
    			width: 400px;											
			}   				
	}
	&__price {
  		font-family:'PFDinTextCompPro-Thin';
		font-size: 60px;
		font-weight: bold;  
		margin-top: 25px;	
			@media #{$tablet} {
				font-size: 50px;				
			} 					
	}
	&__button {
		margin-top: 25px;	
	}
}

.collection {
	&__wrapper {
		margin-top: 50px;
		height: 977px;
		display: flex;	
	}
	&__left {
		display: flex;
		flex-direction:column;
		width: 23.5%;
		height: 100%;
		margin-right: 1.5%;
			@media #{$tablet} {
				width: 35.5%;				
			} 		
	}
	&__right {
		display: flex;
		flex-direction:column;
		justify-content: space-between;
		width: 75%;
		height: 100%;	
			@media #{$tablet} {
				width: 63%;				
			} 					
	}
	&__right-top {
		display: flex;
		height: 538px;
		&-left {
			width: 46.5%;
			margin-right: 2.5%;
			height: 100%;
			background: url(../images/slot_1.jpg) no-repeat center; 
		  	background-size: cover;					
		}
		&-right {
			width: 53%;
			height: 100%;
			background: url(../images/slot_2.jpg) no-repeat center; 
		  	background-size: cover;					
		}		
	}
	&__right-bottom {
		display: flex;
		height: 416px;
		width: 100%;
		background: url(../images/slot_4.jpg) no-repeat center; 
		background-position: 0;
	  	background-size: cover;	
	  	display: flex;
	  	align-items:flex-end;
    	justify-content: flex-end;	
			@media #{$tablet} {
				align-items:center;					
			}     		  	
	}

	&__left-top {
		display: flex;
		height: 32%;
		display: flex;
		justify-content: center;
		align-items:center;		
	}
	&__left-bottom {
		height: 68%;
		background: url(../images/slot_3.jpg) no-repeat center; 
	  	background-size: cover;  			
	}

}

.trend-collection {
	display: flex;
	align-items:flex-end;
	&:hover .collection-title {
	background-color: rgba(255,255,255,1);
	}
}

.swimming-collection {
	display: flex;
	align-items:flex-start;
	&:hover .collection-title {
	background-color: rgba(255,255,255,1);
	}	
}

.male-collection {
	display: flex;
	align-items:flex-end;	
	&:hover .collection-title {
	background-color: rgba(255,255,255,1);
	}	
}

.collection-title {
	text-transform: uppercase;
	height: 70px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	display: flex;
	align-items:center;
	justify-content:center;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 5px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom:88%;
		left:50%;
		transform: translateX(-50%) rotate(45deg);
		width: 17px;
		height: 17px;
		background-color: $black;
		display: block;
	}
	&_top {
		&:before {
			top:88%;			
		}
	}
		@media #{$tablet} {
			font-size: 16px;	
			letter-spacing: 3px;						
		} 		
}

.sale-text {
	color: $sale;
  	font-family:'HelveticaNeueLTStd-Md';  	
}

.social {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	width: 100%;
	&__network {
		border: 1px solid $black;
		transform:rotate(45deg);
		height: 49px;
		width: 49px;
		display: flex;
		align-items:center;
		justify-content:center;
			&:hover {
				border-color: $link_hover;
				span:before {
					color: $link_hover;
				}
			}			
	}
	&__top {
		display: flex;
		justify-content:space-between;
		width: 84%;
	}
	&__bottom {
		display: flex;
		justify-content:space-between;	
		width: 51%;			
	}
	margin-bottom: 20px;			
}

.facebook, .twitter, .pinterest, .google-plus, .instagram {
	@include icon('', 28px, $black);	
	transform:rotate(-45deg);	
}

.facebook:before {
	content: $icon-soc_facebook;
}

.twitter:before {
	content: $icon-soc_twitter;	
}

.pinterest:before {
	content: $icon-soc_pinterest;		
}

.google-plus:before {
	content: $icon-soc_google;	
}

.instagram:before {
	content: $icon-soc_instagram;	
}

.new-collection {
		margin-top: 72px;
	&__title {
		font-size: 36px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	&__slider {
    	margin-top: 37px;		
		background-color: $goods_bg;
		display: flex;
		justify-content:center;		
	}		
}

.slider {
	display: flex;
	justify-content:center;
	max-width: 76%;		
	&__slide {
		display: flex;
		align-items:center;
		justify-content: center;		
		margin-right: 5px;
		margin-left: 5px;
			@media (min-width: 768px) and (max-width: 1299px) {
				margin: 0;
			}			
		img {
			@media (min-width: 768px) and (max-width: 1299px) {
				width: 95%;
			}			
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}		
	}
}

.slider__arrow {
	@include button_unstyle();
	@include icon('', 40px, $black);
	cursor:pointer;
		&:hover:before {
			color: $link_hover;
			cursor: pointer;		
		}
		&_left:before{
			content:$icon-arrow_down;
			margin-right: 10px;
			transform:rotate(90deg);
		}
		&_right:before{
			content:$icon-arrow_down;	
			margin-left: 10px;	
			transform:rotate(-90deg);			
		}	
}

.store-locator {
	height: 340px;
	margin-top: 66px;		
	background-color: $goods_bg;
	display: flex;
	align-items:center;
		@media #{$tablet} {
			height: 250px;						
		}		
}

.locator {
		display: flex;
		align-items:center;
		color: $third_text_color;
		height: 242px;	
			@media #{$tablet} {
				height: 172px;				
			}		
	&__map{
		display: flex;
		align-items:center;	
	    justify-content: center;
	    width: 57%;    
			@media #{$tablet} {
				width: 50%;	
				img {
					width: 350px;
				}				
			} 	    		
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;	
    	justify-content: space-around;
    	width: 40%;	    
    	height: 100%; 
			@media #{$tablet} {
				width: 50%;	
				height: 100%;				
			}     	   	
	}
	&__title {
		font-size: 30px;
		letter-spacing: 6px;
		text-transform: uppercase;
			@media #{$tablet} {
				font-size: 24px;				
			}		
	}
	&__description {
		font-size: 14px;
		letter-spacing: 3px;
		font-weight: bold;
  		font-family:'HelveticaNeueLTStd-ThIt';
			@media #{$tablet} {
				font-size: 12px;	
				letter-spacing: 2px;			
			}  				
	}
}

.action-button_locator {
	border-color: $third_text_color;
	color: $third_text_color;
	padding: 14px 34px;
		@media #{$tablet} {
			font-size: 14px;	
			padding: 14px 28px;						
		}	
}



footer {
	margin-top: 80px;
	border-top: 1px solid $hr_color;
	flex: 0 0 auto;
}

.footer-top {
	&__wrapper {
	height: 55px;
	display: flex;
	align-items:center;	
	margin-top: 35px;
	justify-content: space-between;	
	}
}

.footer-middle {
	background-color: $footer_bg;
	color: $white;
	&__wrapper {
    height: 48px;
    margin-top: 37px;
    display: flex;
	align-items:center;	
	justify-content: space-between;	
	}
}

.email {
	width: 78%;
	display: flex;
	align-items:center;	
		@media #{$tablet} {
			width: 100%;										
		} 		
	&__label {
		text-transform: uppercase;
		font-size: 18px;
    	letter-spacing: 4px;
    	font-weight: bold;
    	margin-right: 25px;
			@media #{$tablet} {
				font-size: 10px;	
    			margin-right: 5px;	   									
			} 
			@media #{$tablet_footer} {	
    			letter-spacing: 0px;    									
			} 				    	
	}

	&__form {
		outline: none;
		width: 415px;
		height: 46px;
		padding: 0 20px;
		width: 39%;
		margin-right: 10px;		
			@media #{$tablet} {
				width: 75%;										
			}
		&:focus {
			border: 2px solid $link_hover;
		}		
	}
}

.send-email {
		display: flex;
		align-items:center;
		justify-content:center;
		@include button_unstyle();
		background-color: $footer_bg;
		width: 205px;
		height: 50px;
		font-family: 'HelveticaNeueLTStd-UltLt';
		color: $white;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 3px;
		@include icon($icon-mail, 20px, $white);
		&:before {
			margin-right: 20px;
		}
		&:hover {
			border: 1px solid $link_hover;
			color: $link_hover;
			font-weight: bold;
		}
		&:hover:before {
			color: $link_hover;
		}			
}

::-webkit-input-placeholder,  {
	font-family:'HelveticaNeueLTStd-ThIt';
	font-size: 14px;
	color: $third_text_color;
}
::-moz-placeholder{
	font-family:'HelveticaNeueLTStd-ThIt';
	font-size: 14px;
	color: $third_text_color;
}

:-moz-placeholder {
	font-family:'HelveticaNeueLTStd-ThIt';
	font-size: 14px;
	color: $third_text_color;
}

:-ms-input-placeholder {
	font-family:'HelveticaNeueLTStd-ThIt';
	font-size: 14px;
	color: $third_text_color;
}

.click-collect {
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	letter-spacing: 3px;
  	font-weight: bold;
    height: 55px;
    margin-right: 35px;
    justify-content: space-around;  	
	&__top {
  		font-family: 'HelveticaNeueLTStd-LtIt';
  		font-size: 14px;
		  	@media #{$tablet} {
				font-size: 11px;									
			} 
	}
	&__bottom {
  		font-family:'HelveticaNeueLTStd-ThIt';	
  		font-size: 12px;
  		color: $third_text_color;
		  	@media #{$tablet} {
				font-size: 10px;									
			}   		
	}
	@media #{$tablet_footer} {	
    	letter-spacing: 0px;    									
	}

	@media #{$tablet} {
		display: none;									
	} 
}

.footer-navigation {
	display: flex;
	align-items:center;
	list-style: none;
	text-transform: uppercase;
    font-family: 'HelveticaNeueLTStd-Th';
    font-size: 16px;
    padding: 0;
    letter-spacing: 4.5px;
		@media #{$tablet_footer} {	
	    	letter-spacing: 0px;  	    	 									
		}

		@media #{$tablet} {
			font-size: 12px;								
		}     
    li {
    	margin-right: 25px;
			@media #{$tablet} {
				margin-right: 10px;									
			}      	
    	&:hover {
    		color: $link_hover;
    	}
    }	
}

.copyright {
	font-size: 11px;
	letter-spacing: 1.5px;
		@media #{$tablet_footer} {	
	    	letter-spacing: 0px;  	    	 									
		}	
}

