
$third_text_color:#999999;
$form_bg:#fcfcfc;
$goods_bg:#f7f7f7;
$form_border:#ebebeb;
$hr_color:#dadcdf;
$gradient_1:#bababa;
$gradient_2:#c6c6c6;
$secondary_text_color:#787878;
$white:#fff;
$footer_bg:#1a0000;
$button_border:#f7f7f7;
$sale:#9a2722;
$icon_color:#5d5f5f;
$link_hover:red;
$black:#000;
$search:#c0c4c8;
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

@mixin icon($content, $size, $color) {
  &:before {
  content: $content;
  font-family: $global-font-icon;
  font-size: $size;
  color: $color;
  display: inline-block;
  }
}

@mixin button_unstyle() {
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;    
}