
$third_text_color:#999999;
$form_bg:#fcfcfc;
$goods_bg:#f7f7f7;
$form_border:#ebebeb;
$hr_color:#dadcdf;
$gradient_1:#bababa;
$gradient_2:#c6c6c6;
$secondary_text_color:#787878;
$white:#fff;
$footer_bg:#1a0000;
$button_border:#f7f7f7;
$sale:#9a2722;
$icon_color:#5d5f5f;
$link_hover:red;
$black:#000;
$search:#c0c4c8;


@mixin text_1 ($size, $color) {
  font-family:'HelveticaNeueLTStd-It';
  font-size: $size;
  color:$color;
}

@mixin text_2 ($size, $color) {
  font-family:'HelveticaNeueLTStd-Lt';
  font-size: $size;
  color:$color;
}

@mixin text_3 ($size, $color) {
  font-family:'HelveticaNeueLTStd-Md';
  font-size: $size;
  color:$color;
}

@mixin text_4 ($size, $color) {
  font-family:'HelveticaNeueLTStd-Th';
  font-size: $size;
  color:$color;
}

@mixin text_5 ($size, $color) {
  font-family:'HelveticaNeueLTStd-ThIt';
  font-size: $size;
  color:$color;
}

@mixin text_6 ($size, $color) {
  font-family:'HelveticaNeueLTStd-UltLt';
  font-size: $size;
  color:$color;
}

@mixin text_7 ($size, $color) {
  font-family:'PFDinTextCompPro-Thin';
  font-size: $size;
  color:$color;
}

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";




@media #{$tablet} {

}

@media #{$desktop} {

}