@mixin icon($content, $size, $color) {
	content: $content;
	font-family: $global-font-icon;
	font-size: $size;
	color: $color;
	display: inline-block;
}

@mixin middle() {
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

@mixin triangleLeft($size, $color) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $size $size $size 0;
    border-color: transparent $color transparent transparent;
}