
@font-face {
    font-family: 'BauhausC Medium';
    src: url('../fonts/BauhausC-Medium.eot');
    src: url('../fonts/BauhausC-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BauhausC-Medium.woff') format('woff'),
         url('../fonts/BauhausC-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}