// * {
// 	outline: 1px solid red;
// }

* {
	box-sizing: border-box;
	font-family: 'Montserrat Regular';
}

a, a:hover, a:active, a:visited, a:focus {
	color: inherit;
	text-decoration: none;
}

.clearfix:after {
	content: '';
	display: table;
	height: 0;
	clear: both;
}


.head {
	height: 45px;
	background-color: $nav_bg;
	display: flex;
}

.header {
	width: 1024px;
	margin: 0 auto;	
	position: relative;
	color: $white;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 0 22px;
	&-menu {
		display: flex;
		align-items:center;
		&__but {
			&:hover .header-menu__button {
			background-color: $activity_info;
			}
		}
		&__button {
				background-color: $white;
				width: 15px;
				height: 1px;
				display: block;
				margin-bottom: 5px;
			&--center {
				width: 13px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__logo {
			display: flex;
			@include middle()
		}
		&__text {
			text-transform: uppercase;
			font-size: 7px;
			font-family: 'Montserrat Bold';;
			letter-spacing: 1px;
			margin-left: 40px;					
		}
		&__arrow-left {
			@include lightarrow(15px, $white, $nav_bg);
			display: none;
			&:hover {
				border-color: $activity_info;
				border-left-color: $nav_bg;
			    border-bottom-color: $nav_bg;				
			}
		}
		&__note-comment {
			@include note_com(22px, 19px, $white, $nav_bg);
			margin-left: 33px;
			padding: 5px 0 0 3px;
				&--center {
					height: 1px;
					background-color: $white;
					width: 12px;
					display: block;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						top: 100%;
						margin-top: 3px;
						left: 0;
						height: 1px;
						background-color: $white;
						width: 8px;
						display: block;					
					}
				}						
				&:hover {
					border-color: $activity_info;
					&:before {
						border-color: transparent $activity_info transparent transparent;					
					}
					.header-menu__note-comment--center{
						background-color: $activity_info;
					}
					.header-menu__note-comment--center:after{
						background-color: $activity_info;
					}					
			}
			display: none;						
		}
		&__note {
			margin-left: 33px;
			margin-right: 33px;						
			@include note(22px, 22px, $white, $nav_bg);
			&:hover {
				border-color: $activity_info;
				&:before {
					border-color: transparent transparent $activity_info transparent;					
				}
				.header-menu__note--center {
					background-color: $activity_info;
				}
			}			
			&--center {
				background-color: $white;
				height: 1px;
				width: 8px;
				position: absolute;
				top: 20%;
				left: 50%;
				transform:translateX(-50%);
			}
			display: none;			
		}

			&__arrow-corner {
				@include arrow_up(18px, $white, $nav_bg);
				&:hover {
				border-color: $activity_info;			
				border-left-color: $nav_bg;
			    border-bottom-color: $nav_bg;
				    &:before {
				    	background-color: $activity_info;
				    }				
				}
				display: none;				
			}
		.header-personal__font {
			display: none;
		}
	}
	&-personal {
		display: flex;
		align-items:center;		
		&__magnifier {
			margin-left: 23px;			
			@include magnifier(15px, $white, 1px);
			&:hover {
				border-color: $activity_info;
				&:after {
					background-color: $activity_info;
				}
			}
		}
		&__font {
			font-size: 16px;
			font-family: 'Montserrat Thin';
		}
		&__user {
			display:flex;
			&-img{
				margin-left: 23px;			
			    width: 22px;
			    height: 22px;		    
			    display: inline-block;
			}
		}
		&__note {
			margin-left: 23px;
			@include note(16px, 16px, $white, $nav_bg);
			&:hover {
				border-color: $activity_info;
				&:before {
					border-color: transparent transparent $activity_info transparent;					
				}
				.header-personal__note--center {
					background-color: $activity_info;
				}
			}
			&--center {
				background-color: $white;
				height: 1px;
				width: 6px;
				position: absolute;
				top: 20%;
				left: 50%;
				transform:translateX(-50%);
			}
		}
	}

	a:hover {
		color: $activity_info;
	}
}

.logo {
	width: 15.5px;
	height: 15.5px;
}

.comment-h {
	height: 147px;
	background-color: $colored;
	display: flex;
}


.comment-head {
	width: 1024px;
	margin: 0 auto;	
	display: flex;
	justify-content: space-between;
	align-items: center;
 	padding: 0 170px;
	&__count {
	    font-size: 29px;
		text-transform: uppercase;
		font-family: 'Montserrat Bold';;
		color: $white;
	}
	&__menu {
		list-style: none;
		display: flex;
		align-items:center;
		padding: 0;
		&--item {
			float: left;
			color: rgba(255,255,255,0.5);
			font-size: 8px;
			padding: 8px 26px;
			margin-left: 10px;
			cursor: pointer;
			&:last-child {
			padding: 8px 17px;				
			}			
			&:hover {
				color: $white;
				border: 1px solid white;
				border-radius: 20px;
				font-family: 'Montserrat Bold';				
			}	
		}
	}
}

.content_wrap {
	width: 1024px;
	margin: 0 auto;	
}

.content {
    padding: 0 170px;	
	&-comment {
		&:first-child {
			margin-top: 44px;
		}
			padding-bottom: 30px;
			margin-bottom: 5px;
			border-bottom: 1px solid $hr_col;
			margin-top: 30px;
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		    a .content-comment__avatar {
		    	display: flex;
				margin-right: 25px;		    	
		    }
		&__avatar {
		    height: 40px;
		    width: 40px;
		    &--small {
		    	display: none;
		    }
		}
		&__text {
			width: 620px;			
			display: flex;
			flex-direction:column;
			font-size: 10.5px;
			padding-top: 2px;				
			&--name {
				font-family: 'Montserrat Bold';
			}
			&--text {
				margin-bottom: 0;
    			margin-top: 10px;							
			}
			&--head {
				display: flex;
				justify-content:space-between;
			}
		}
		&__activity {
		    display: flex;
		     align-self: flex-start;
		     padding-top: 0;
			&--time {
				color: $activity_info;
				font-size: 8px;
				display: flex;
    			align-items: center;  			
				&:before {
					@include icon($icon-time, 13px, $activity_info);
					margin-right: 5px;
				}
			}
			&--like {
				color: $activity_info;
				font-size: 8px;
				display: flex;
    			align-items: center;
    			margin-left: 21px;     											
					&-heart {
					background-color: inherit;
					border: none;
					padding: 0;
					display: flex;
					margin-right: 5px;
					cursor: pointer;											
						&:before {
						@include icon($icon-like, 10px, $activity_info);
						}
						&:hover:before {
							color: $colored;
						}
					}
					&-count {

					}			
			}
		}	
	}
	&-commenting {
		display: flex;
		justify-content: space-between;		
		align-items: center;
		margin-top: 50px;
		&__textfield {
			border: 1px solid $colored;
			border-radius: 20px;
			width: 470px;
			font-size: 10px;
			font-family: 'Montserrat Bold';
			height: 40px;
			margin-right: 20px;
			padding-left: 44px;
			background: url(../images/clip.png);
			background-repeat: no-repeat;
			background-position: 17px;
		    background-position-x: 17px;
		    background-position-y: 11px;
		    background-size: 12px;
		    outline: none;		
		}

		&__submit {
			border: none;
			background-color: $colored;
			border-radius: 20px;
			color: $white;
			padding:10px 37px;
			display: flex;		    
			display: -moz-box;	
			align-items:center;
			font-size: 8px;
			font-family: 'Montserrat Bold';
			height: 40px;
			box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.2);	
		    outline: none;
							
				&--arrow {
					margin-right: 10px;	
					@include arrow(16px, $white, $colored);	
					vertical-align: middle;		
				}
					&:hover {
						color: $activity_info;
							 .content-commenting__submit--arrow {
							background-color: $activity_info;
							&::before {
								border-right-color: $activity_info;
							    border-top-color: $activity_info;															
							}
						}	
					}			
		}
	}
}

.loading {
	color: $load_text;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 47px;
}


.user-box {
	display: flex;
}

.user_main-box {
	display: flex;
}

.flex-box {
	display: flex;
}		

.foot {
 	height: 72px;
 	background-color: $footer_bg;
	display: flex;
 	margin-top: 48px;	
}


.footer {
	align-items:center;
	width: 1024px;
	margin: 0 auto;	
 	display: flex;
 	justify-content: space-between;
 	color: $foot_text;
 	padding: 0 166px;
    font-size: 7px; 	
 	&-menu {
 		list-style: none;
 		display: flex;
 		padding: 0;
 		&__item {
			margin-right: 32px;
	 		a {
	 			font-family: 'Montserrat Bold';
	 		}		
 		}
 	}
 	&-social {

 		&__icon {
    		margin-right: 15px;		
		 	&:hover:before {
		 		color: $colored;
		 	} 
 			&--fb::before, &--tw::before, &--in::before {
				font-size: 12px;
				color: $foot_text;
				font-family: $global-font-icon;
				display: inline-block;
			}			
			&--fb::before {
				content: $icon-facebook;
			}
			&--tw::before  {
				content: $icon-twitter;
			}
			&--in::before  {
				content: $icon-instagram; 
			}					
 		}
 			&__copyright {
   				margin-left: 25px;
 				font-family: 'Montserrat Bold'; 				
 			} 		
 	}

 	a:hover {
 		color: $colored;
 	}
}

