@media (max-width: 1023px) {
	.header, .comment-head, .content_wrap, .footer {
		width: 100%;
	}
	.header {
		padding: 0 16px;
	}
	.header-menu__but, .header-menu__text, .header-personal__note {
		display: none;
	}


	.comment-head {
		flex-direction: column;
		justify-content: center;
	}


} //all portret


