$nav_bg: #f96331; //light orange
$colored: #ec5e2e; //dark orange
$footer_bg:#f2f2f2; //grey 
$white:#fff; //white
$foot_text:#c2c2c2; //grey2
$icons_content:#b6b6b6; //grey3
$placehold_text:#999999; //grey4
$hr_col:#f2f2f2; //grey5 
$load_text:#ccc; //grey6
$activity_info:#7f7f7f; //grey7
$black:#000000; //black

