body {
	margin: 0;
	background-color: #F0F0F0;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	min-height: 1000px;
}



.columns {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.col1 {
	margin-right: 30px;
}

select {
    width: 135px;
    height: 25px;
    margin-top: 10px;
    font-size: 14px;
}


button {
	width: 150px;
	padding: 5px 0;
}

form {
	margin-bottom: 50px;
}

span, p {
	font-weight: bold;
}

.red {
	color: red;
}

