* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.button-wrapper {
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-description {
    padding: 10px;
    font-size: 20px;
}

.button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 28px;
    cursor: pointer;
    outline: none;
}