@font-face {
    font-family: 'appleberry';
    src: url('../fonts/appleberry.eot?#iefix') format('embedded-opentype'),
         url('../fonts/appleberry.woff') format('woff'),
         url('../fonts/appleberry.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'telegraphem';
    src: url('../fonts/telegraphem.eot');   
    src: url('../fonts/telegraphem.eot?#iefix') format('embedded-opentype'),
         url('../fonts/telegraphem.woff') format('woff'),
         url('../fonts/telegraphem.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}
