

@font-face {
    font-family: 'HelveticaNeueLTStd-Md';
    src: url('../fonts/HelveticaNeueLTStd-Md');
    src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'appleberry';
    src: url('../fonts/appleberry.eot?#iefix') format('embedded-opentype'),
         url('../fonts/appleberry.woff') format('woff'),
         url('../fonts/appleberry.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BreadyAlternatesDemo';
    src: url('../fonts/BreadyAlternatesDemo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BreadyAlternatesDemo.woff') format('woff'),
         url('../fonts/BreadyAlternatesDemo.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}

