// colors

$color-1: #008200; //green
$color-2: #EA4D01; //orange
$color-3: #dadcdc; //grey
$color-4: #D5E2AB; //light green
$color-5: #ACACAC; //dark grey
$color-6: #ffffff; //white

// fonts 

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Vollkorn', serif;

// animation duration

$fold-animation: .5s;
$fold-content-animation: .2s*(3+1)/2; // replace 3 with number of elements that you want to animate