@font-face {
  font-family: $global-font-icon;
  src:url("../fonts/myicons..eot");
  src:url("../fonts/myicons.?#iefix") format("embedded-opentype"),
    url("../fonts/myicons.woff") format("woff"),
    url("../fonts/myicons.ttf") format("truetype"),
    url("../fonts/myicons.#myicons") format("svg");
  font-weight: normal;
  font-style: normal;
}


$icon-envelope: "\EA01" !default;

$icon-facebook: "\EA02" !default;

$icon-github: "\EA03" !default;

$icon-linkedin: "\EA04" !default;

$icon-skype: "\EA05" !default;

$icon-smartphone: "\EA06" !default;


.icon {
  &:before, &:after {
    font-family: $global-font-icon
  }
}