@font-face {
    font-family: 'Bringin';
    src: url('../fonts/Bringin.eot');
    src: url('../fonts/Bringin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bringin.woff') format('woff'),
         url('../fonts/Bringin.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;
}