$blue: #36aeea;
$grey: #95a5ad;
$black: #000;
$white: #fff;

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$mq-mobile-portrait	: 320px !default;
$mq-mobile-landscape: 480px !default;
$mq-tablet-portrait	: 768px !default;
$mq-tablet-landscape: 1024px !default;
$mq-desktop: 1382px !default;

$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
$logoFont: 'Bringin', fantasy;


$textColor: $grey;
$accentColor: $blue;
$titleColor: $black;
$helpColor: $white;




