
$head_text_color:#ffffff;
$main_text_color:#414042;
$select_color:#4bcaff;
$icon_color:#ffffff;
$hover_border_color:#277697;
$nav_circle_color:rgba(75,202,255,0.2);
$os_circle_color:rgba(0,0,0,0.2);
$section1_bg_col:#f9f9f9;
$section1_brd_col:#e7e7e7;




@mixin main_text ($weight, $size, $color) {
  font-family:'Lato', sans-serif;
  font-weight:$weight;
  font-size: $size;
  color:$color;
}


@mixin logo_text ($size, $color) {
  font-family:'Lobster', cursive;
  font-size: $size;
  color:$color;
}

@mixin nav_text ($size, $color) {
  font-family:'Open Sans', sans-serif;
  font-size: $size;
  color:$color;
}

@mixin icon ($content, $size, $color) {
  font-family:$global-font-icon;
  content:$content;
  font-size: $size;
  color:$color;
}

@mixin sprite_option () {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@mixin circle($size, $color) {
  border-radius:$size;
  position:relative;
  border: none;
  background-color:$color;
  height:$size;
  width:$size;
}

@mixin radiocircle($size, $color) {
  border-radius:$size;
  border: none;
  background-color:$color;
  height:$size;
  width:$size;
}


