
@font-face {
    font-family: 'arialregular';
    src: url('../fonts/arial-webfont.eot');
    src: url('../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial-webfont.woff2') format('woff2'),
         url('../fonts/arial-webfont.woff') format('woff'),
         url('../fonts/arial-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Franklin Gothic Book';
    src: url('../fonts/franklin-gothik-book.eot');
    src: url('../fonts/franklin-gothik-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/franklin-gothik-book.woff2') format('woff2'),
         url('../fonts/franklin-gothik-book.woff') format('woff'),
         url('../fonts/franklin-gothik-book.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Franklin Gothic Demi Cond';
    src: url('../fonts/franklin-gothik-demi-cond.eot');
    src: url('../fonts/franklin-gothik-demi-cond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/franklin-gothik-demi-cond.woff2') format('woff2'),
         url('../fonts/franklin-gothik-demi-cond.woff') format('woff'),
         url('../fonts/franklin-gothik-demi-cond.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Script Barguzin';
    src: url('../fonts/script-barguzin.eot');
    src: url('../fonts/script-barguzin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/script-barguzin.woff2') format('woff2'),
         url('../fonts/script-barguzin.woff') format('woff'),
         url('../fonts/script-barguzin.ttf') format('truetype');	 
    font-weight: normal;
    font-style: normal;

}