a {
	color: inherit;
}

 a:link,
 a:visited,
 a:active,
 a:focus {
	text-decoration: none;
}  

.--nopadding {
	padding-left: 0;
	padding-right: 0;
}

.--nopadding-right {
	padding-right: 0;
}

.header {
	margin-bottom: 5px;
}

.footer {
	margin-top: 20px;
}

.icon--exit:before,
.icon--message:before,
.icon--user:before {
	position: absolute;	
	right: 100%;
	top: 15%;
}

.icon--exit:before {
	content: $icon-exit;
}

.icon--message:before {
	content: $icon-feedback;
}

.icon--user:before {
	content: $icon-user;
	font-size: 16px;
}

.logo__picture {
  	height: 180px;
  	width: 180px;
}

.logo__text {
	font-family: Franklin Gothic Demi Cond;
	font-size: 43px;
	line-height: 43px;
	color: $logo_text_col;
	padding-top: 8px;
	padding-bottom: 5px;
}

.another-text {
	color: $game_nav_focus_col;
}   

   
.profile {
	float: right;
	padding: 15px 0 0; 
} 

.profile__option {
	color: $personal_col;
	float: left;
	margin-right: 40px;
	position: relative;
}

.profile__option:nth-child(3) {
	margin-right: 15px;
}

.profile__option:hover,
.navigation__item--text:hover {
	text-decoration: none;
	color: $hover_col;
}


.profile__option--ico {
	font-size: 20px;
}


.profile__option--text {
	padding-left: 8px;
	font-family: Franklin Gothic Book;
	font-size: 14px;
	letter-spacing: 0.5px;
}

a .profile__option--text:hover {
	text-decoration: underline;
}

.navigation{
	padding: 20px 0 10px 0;
	margin: 0;
	border-top: 1px solid $personal_col;
}

.navigation__item {
	list-style: none;
	float: left;
	margin-right: 40px;
	font: bold 18px Franklin Gothic Book;
	color: $logo_text_col;
	letter-spacing: 0.5px;
}

.navigation__item--game {
	margin-right: 35px;
	font: 24px Franklin Gothic Demi Cond;
	color:$game_nav_col;
}

.navigation__item--game:nth-child(1) {
	font-size: 28px;
	color: $hover_col;
}

.navigation--game {
	position: relative;
}

.warning {
	color: $personal_col;
	font: 14px Franklin Gothic Book;
	padding-top: 65px;
	padding-bottom: 35px;
	letter-spacing: 0.5px;
}

.content__background {
  	background: url(../images/main_bg.jpg) no-repeat center;
  	min-height: 723px;
 	position: relative;  
}


.content__background--shadow:before {
    content: '';
    background-color:rgba(0,0,0,.3);
    position:absolute;
    width:100%;
    top:0;
    left:0;
    min-height: 723px;
    z-index: 2;
}

.game__task {
	margin-top: 75px;
	font-family: Franklin Gothic Demi Cond;
}

.game__task-choose {
	font-size: 34px;
	line-height: 34px;
}

.game__task-findout {
	font-size: 29px;
	line-height: 29px;
}

.game__task-choose,
.game__task-findout {
	color: $ld_club_hint_text_col;	
	margin: 0;
	text-shadow: 0.5px 0.5px 1px rgb(4, 4, 4);
}

.game__club {
	font-size: 112px;
	line-height: 80px;
	color: $ld_club_text_col;
}

.content__main {
	position: relative;
}

.game__choose-pack {
  	position: absolute;
	margin:0; 
}

.game__choose-pack--blue {
  	top:365px;
  	left:5px;
}

.game__choose-pack--silver {
  	top:250px;
  	left:190px;
}

.game__choose-pack--extra {
  	top:60px;
  	left:390px;
}

.game__choose-pack--lounge {
  	top:110px;
  	left:545px;
}

.game__choose-pack--gold {
  	top:95px;
  	left:770px;
}

.game__choose-pack--platinum {
  	top:10px;
  	left:960px;	
}

.choose-pack__type-text {
	position: absolute;
	padding: 0 10px;
	background: url(../images/game_text_answer.png) no-repeat center;
	background-size: cover;
	text-align: center;
	font: 32px Franklin Gothic Demi Cond;
	line-height: 45px;
	display: none;
}

.choose-pack__type-text--blue {
	color: $type_col_blue;
    top: 585px;
    left: 135px;
    z-index: 5;
}
.choose-pack__type-text--silver {
	color: $type_col_silver;
    top: 467px;
    left: 250px;
     z-index: 5;
}

.choose-pack__type-text--extra {
	color: $type_col_extra;
	top: 290px;
    left: 455px;
     z-index: 5;	
}

.choose-pack__type-text--lounge {
	color: $type_col_lounge;
    top: 365px;
    left: 695px;
     z-index: 5;
}
.choose-pack__type-text--gold {
	color: $type_col_gold;
    top: 303px;
    left: 895px;
     z-index: 5;	
}

.choose-pack__type-text--platinum {
	color: $type_col_platinum;
    top: 220px;
    left: 845px;
     z-index: 5;		
}

.choose-pack__type-border {
	display: none;
	border: 2px solid;
	border-radius: 5px; 
	position: absolute; 
}

.choose-pack__type-border--blue {
    border-color: $type_col_blue;
	@include position (370px, 53px);    
    width: 150px;
    height: 260px;
    transform: rotate(-22deg);
}

.choose-pack__type-border--silver {
    border-color: $type_col_silver;
	@include position (255px, 215px);     
    width: 150px;
    height: 260px;
    transform: rotate(5deg);
}

.choose-pack__type-border--extra {
	border-color: $type_col_extra;
	@include position (75px, 410px); 
    width: 150px;
    height: 250px;
    transform: rotate(4deg);
}

.choose-pack__type-border--lounge {
    border-color: $type_col_lounge;
	@include position (130px, 580px);     
    width: 170px;
    height: 280px;
    transform: rotate(-12deg);
    display: none;	
}

.choose-pack__type-border--gold {
	border-color: $type_col_gold;
	@include position (115px, 805px);	
    width: 170px;
    height: 245px;
    transform: rotate(-11deg);
}

.choose-pack__type-border--platinum {
	border-color: $type_col_platinum;
	@include position (25px, 980px);
    width: 180px;
    height: 240px;
    transform: rotate(6deg);   	
}

.game-content__background {
  	min-height: 723px;
}

.game-content__background--blue {
  	background: url(../images/game_bg_blue.jpg) no-repeat center;
}

.game-content__background--black {
  	background: url(../images/game_bg_black.jpg) no-repeat center;
}

.game-content__background--bronze {
  	background: url(../images/game_bg_bronze.jpg) no-repeat center;
}

.ld-message {
	margin-top: 32px;
	font-family: Franklin Gothic Demi Cond;
	font-size: 30px;
	line-height: 30px;
	background:$ld_message_bg;
	float: left;
	padding: 15px 20px;
}

.ld-message--potential {
	color: $ld_club_hint_text_col;	
	margin: 0;
	text-shadow: 0.5px 0.5px 1px rgb(4, 4, 4);
}

.ld-message--design {
	color: $ld_club_text_col;
}

.game__hint {
	margin-top: 32px;
	font-family: Franklin Gothic Book;
	font-size: 26px;
	line-height: 26px;
	float: right;
	padding: 20px 40px;
	letter-spacing: 0.5px;
	margin-right: 12px;
	color: $ld_club_hint_text_col;
	text-align: center;
	background: url(../images/hint_bg.jpg) no-repeat center;
	position: relative;
}

.game__hint--sign {
	position: absolute;
    bottom: 79%;
    left: 89%;
}

.final__hint--sign {
	position: absolute;
    bottom: 87%;
    left: 91%;
}

.game__pack-searching {
	position: absolute;
	top: 170px;
	left: 30px;
}

.search__change-1,
.search__change-2,
.search__change-3,
.search__change-4 {
	position: absolute;
}

.search__change-1 {
    top: 50px;
    left: 110px;
    width: 90px;
    height: 150px;
    transform: rotate(-15deg);
}

.search__change-2 {
    top: 340px;
    left: 80px;
    width: 80px;
    height: 75px;
    transform: rotate(-15deg);
}

.search__change-3 {
    top: 255px;
    left: 60px;
    width: 200px;
    height: 70px;
    transform: rotate(-15deg);
}

.search__change-4 {
    top: 400px;
    left: 180px;
    width: 120px;
    height: 50px;
    transform: rotate(-15deg);
}

.search__change-1:hover,
.search__change-2:hover,
.search__change-3:hover,
.search__change-4:hover {
	cursor: url(../images/aim_green.png), auto;	
}

.game__pack-searching:hover {
	cursor: url(../images/aim.png),  auto;	
}

.game__pack-searching--blue {
	position: relative;
}

.game__answer--1 {
	@include position (190px, 365px);
}

.game__answer--2 {
	@include position (190px, 755px);	
}

.game__answer--3 {
	@include position (452px, 365px);	
}

.game__answer--4 {
	@include position (452px, 755px);	
}

.game__answer--1,
.game__answer--2,
.game__answer--3,
.game__answer--4 {
	position: absolute;
}

.answer_box {
	width: 250px;
	height: 250px;
	position: relative;
}

.no-answer {
	background: url(../images/game_no_answer.png) no-repeat center;
}

.blue-answer-1 {
	background: url(../images/blue_answer1.png) no-repeat;
	@include position (-15px, 25px);	
}

.blue-answer-2 {
	background: url(../images/blue_answer2.png) no-repeat;
	@include position (40px, 37px); 
}

.blue-answer-3 {
	background: url(../images/blue_answer3.png) no-repeat;
	@include position (41px, 36px);
}

.blue-answer-4 {
	background: url(../images/blue_answer4.png) no-repeat;
	@include position (42px, 36px);
}

.answer__text-box {
	text-align: center;
	position: absolute;
	top: 73%;
    left: 16%;
	width: 360px;
	height: 60px;
	background: url(../images/game_text_answer.png) no-repeat center;
}

.answer__text-box--1,
.answer__text-box--2,
.answer__text-box--3,
.answer__text-box--4 {
	color: $type_col_blue;
	position: absolute;
}

.answer__text-box--1 {
    top: 79%;
    left: 5%;
}

.answer__text-box--2 {
    top: 57%;
    left: 0%
}

.answer__text-box--3 {
    top: 56%;
    left: 0%;
}

.answer__text-box--4 {
    top: 56%;
    left: 0%;
}

.no-answer__text {
	font: 40px Franklin Gothic Demi Cond;
	letter-spacing: 0.5px;
	color: $no_answer_text;
	line-height: 60px;
}

.answer__text {
	font: 24px Franklin Gothic Demi Cond;
	display: none;
	text-align: left;
	padding-left: 15px;
}

.answer__text-final {
	font: 20px Franklin Gothic Demi Cond;
	display: block;
	text-align: left;
	padding: 5px 15px;	
	line-height: 18px;
}

.blue-answer-1--final {
	background: url(../images/blue_answer1.png) no-repeat;
	background-size: 120px;
	height: 150px;
    margin-left: 13px;
    margin-top: 17px;
}

.blue-answer-2--final {
	background: url(../images/blue_answer2.png) no-repeat;
    background-size: 110px;
    height: 150px;
    margin-left: 20px;
    margin-top: 3px;
}

.blue-answer-3--final {
	background: url(../images/blue_answer3.png) no-repeat;
    background-size: 120px;
    height: 150px;
    margin-top: 56px;
    margin-left: 20px;	
}

.blue-answer-4--final {
	background: url(../images/blue_answer4.png) no-repeat;
    background-size: 142px;
    height: 150px;
    margin-top: 8px;
    margin-left: 21px;
}

.final__answer {
	position: relative;
}

.game__pack-final {
    margin-top: -25px;
    margin-left: 15px;
}    

.answer__text-box--final {
    top: 60%;
    left: 6%;
    color: $type_col_blue;
    position: absolute;
    background: url(../images/game_text_answer.png) no-repeat center;
    width: 319px;   
}

.answer__text-box--final-first {
	top: 85%;
}

.answer__number-final {
	position: absolute;
	top:-100px;
	right: 0;
	color:$ld_club_hint_text_col;
	font: 110px Franklin Gothic Demi Cond;
}

.final__message {
	margin: 45px 0;
	line-height: 27px;
	font-size: 32px;
	font-family: Script Barguzin;
	color: $ld_club_hint_text_col;
	border: 2px solid $ld_club_hint_text_col;
	background-color:rgba(0,0,0,.4);
	padding: 10px;
	text-align: center;
}

.final__message--arrow {
	position: absolute;
    top: 102px;
    left: 340px;
}

.final__welcome--pic {
    margin-top: 47px;
    margin-left: 12px;
    position: relative;
}

.final__welcome--text {
	font: 40px Franklin Gothic Demi Cond;
	color: $ld_club_hint_text_col;
	letter-spacing: -0.2px;
	position: absolute;
    top: 143px;
    left: 17px;
}

.final__club-box {
	background-color:rgba(32,48,127,.9);
	font: 72px Franklin Gothic Demi Cond;
	color: $ld_club_hint_text_col;
	padding-bottom: 10px;
	padding-top: 2px;
}

.final__club-box--vertical {
	font: 24px Franklin Gothic Demi Cond;
	color: $ld_club_hint_text_col;
    display: inline-block;
    transform:rotate(-90deg);  
    width: 46px;
    height: 0;
    white-space: nowrap;
}


.final__hint {
	background: url(../images/hint_background.jpg) no-repeat center;
	padding: 5px;
	margin-top: 90px;
	position: relative;
}

.final__hint--text {
	border: 1px solid $ld_club_hint_text_col;
	display: inline-block;
	font: 25px Franklin Gothic Book;
	color: $ld_club_hint_text_col;
	text-align: center;
    padding: 25px 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
}

.final__buttons {
	margin-top: 30px;
}

.final__button {
	background: url(../images/final_button.png) no-repeat center;
	font: 15px Franklin Gothic Book;
	color: $final_button_text;
	width: 165px;
	text-align: center;
	padding: 10px 0;
	text-shadow: -0.5px 0.5px 1px $ld_club_hint_text_col;
}

.final__button--play {
	float: left;
}    

.final__button--shop {
	float: right;
}   

.final__button:active {
	background: url(../images/final_button_active.png) no-repeat center;
	color: $ld_club_hint_text_col;
	text-shadow: -0.5px 0.5px 1px rgb(0, 0, 0);
}

.content:before {
	content: '';
	background: url(../images/arrow_metal.png) no-repeat center;
	position: absolute;
	bottom: 100%;
    left: 27%;
    height: 27px;
    width: 37px;
} 

.content {
	position: relative;
}

.content__game:before {
	background: url(../images/arrow_blue.png) no-repeat center;
	height: 36px;
    width: 37px;
    bottom: 99%;
}


