$personal_col:#a1a1a1;
$logo_text_col:#464646;
$game_nav_col:#898989;
$game_nav_focus_col:#d71920;
$hover_col:#d71920;
$box_hover_text_col:#20307f;
$ld_club_text_col:#20307f;
$ld_club_hint_text_col:#ffffff;
$final_real_club:#014991;
$ld_message_bg:rgba(255,255,255, 0.7);
$no_answer_text:#9da0bb;
$type_col_blue:#20307f;
$type_col_silver:#20307f;
$type_col_extra:#414140;
$type_col_lounge:#414140;
$type_col_gold:#cdb47b;
$type_col_platinum:#cdb47b;
$final_button_text:#7d7d7d;


  @mixin position ($top, $left) {
    top:$top;
    left:$left;
  }