.user-card {
    border: 1px solid #ddd;
}

.user-card__row {
    display: flex;
}

.user-card__td {
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.user-card__property {
    min-width: 150px;
    font-weight: bold;
}

.user-card__info {
    flex-grow: 1;
}


