$main-color: #1f2f60;
$hover-color: #feb825;
$headerTopBG: $main-color;
$footerBG: $main-color;
$buttonCol: $main-color;
$buttonColHover: rgba(31,47,96, 0.7);
$headerBotBG: rgba(31,47,96, 0.7);
$frontTextColor: #fff;
$footerTextColor: rgba(225,225,225, 0.8);
$boxColor: #fff;
$frontTextHoverColor: $hover-color;
$contentHoverColor:$hover-color;
$mainTextColor: #424242;
$hTwoColor: $main-color;
$hThreeColor: $hover-color;
$contactIconColor: $main-color;

$paddingBox: 105px;
$paddingContactLeft: 65px;
$paddingContactRight: 75px;
$paddingContactBot: 70px;
$paddingContactTop: 40px;
$marginMenuList: 20px;
$marginBotHead: 40px;
$marginLang: 45px;
$headerPadding: 30px;
$headerPaddingMob: 10px 20px;
